* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2, h3, h4, a, label {
  font-family: "Nunito", sans-serif;
}

p, address, li {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  max-width: 42em;
}

#header-bg {
  position: absolute;
  width: 120vw;
  height: 5rem;
  left: -1em;
  top: -1em;
  z-index: -1;
  background: #53504C;
  mix-blend-mode: normal;
  opacity: 0.5;
  filter: blur(10px);
  transition: ease 0.25s;
}

#header-title {
  font-family: "Coming Soon", cursive;
  position: absolute;
  left: 1rem;
  top: 8vh;
  transition: ease 0.25s;
}

#title-bg {
  display: initial;
  position: absolute;
  background-color: #53504c;
  z-index: -1;
  opacity: 0.5;
  height: 4.5rem;
  width: 14.5rem;
  left: -0.5rem;
  filter: blur(10px);
  transition: ease 0.25s;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  color: white;
  position: fixed;
  z-index: 1;
}
header img {
  position: relative;
  left: 0.25rem;
  width: 5rem;
  margin-right: 1.25rem;
}
header section {
  display: flex;
  flex-direction: row;
}
header div h1 {
  font-size: 2rem;
  color: #ffd647;
  margin: 0;
}
header div p {
  font-size: 1rem;
  color: #fff;
  margin: 0;
  line-height: 1;
}

@media screen and (min-width: 35rem) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 1;
  }
  header img {
    position: relative;
    left: 0.25rem;
    width: 8rem;
    margin-right: 2.5rem;
  }
  header section {
    display: flex;
    flex-direction: row;
  }

  #header-bg {
    position: absolute;
    width: 120vw;
    height: 6.5rem;
    left: -1em;
    top: -1em;
    z-index: -1;
    background: #53504C;
    mix-blend-mode: normal;
    opacity: 0.5;
    filter: blur(10px);
    transition: ease 0.5s;
  }

  #header-title {
    display: initial;
  }

  #header-title {
    position: initial;
  }

  #title-bg {
    display: none;
  }
}
.contact-link {
  padding: 0.25rem 0.5rem;
  background-color: #ffd647;
  border: 0.1em solid #EABE27;
  color: #002A00;
  border-radius: 0.5em;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  transition: ease 0.25s;
}

.contact-link:hover {
  background-color: #53504c;
  color: #fff;
}

.navbar {
  font-size: 1.125rem;
  padding-bottom: 0.625rem;
}

.nav-menu {
  list-style-type: none;
  display: none;
}
.nav-menu li {
  text-align: center;
  margin: 15px auto;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: ease 0.25s;
}

.navbar-toggle {
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 1.75rem;
  margin-right: 0.5em;
  top: 0.25em;
}

#nav-bg {
  position: absolute;
  width: 50vw;
  height: 11em;
  z-index: -1;
  background: #53504C;
  mix-blend-mode: normal;
  opacity: 0.5;
  filter: blur(10px);
  display: initial;
}

.active {
  display: block;
  position: fixed;
  top: 4.5em;
  right: 0;
  width: 50vw;
}

@media screen and (min-width: 57rem) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-link {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-link:hover {
    color: #ffd647;
  }

  #nav-bg {
    display: none;
  }
}
main h2 {
  position: relative;
  bottom: 1.25em;
  color: #fff;
  background: #53504c;
  border: 0.1rem dashed #fff;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  transform: rotate(-3deg);
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
  align-content: center;
  padding: 0.25rem 0;
  width: 7em;
  font-size: 1.5rem;
}
main h3 {
  font-size: 1.25rem;
  color: #000;
  padding-bottom: 0.25em;
}
main section {
  max-width: 54em;
  min-width: 18em;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

article img {
  width: 100vw;
  max-width: 30em;
  height: 35vh;
  max-height: 20em;
  object-fit: cover;
  margin-bottom: 1em;
  margin-top: 1em;
}

.opening-times {
  margin-top: 1em;
  position: relative;
  max-width: 30em;
  display: block;
  text-align: center;
}
.opening-times img {
  transform: scale(-1, 1);
}
.opening-times > div {
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  color: #fff;
  width: 16rem;
  background-color: rgba(83, 80, 76, 0.5);
  border-radius: 0.5rem;
  border: 0.1rem dashed #fff;
  padding: 0.5rem;
}
.opening-times > div h3 {
  color: #fff;
  padding: 0;
}
.opening-times > div ul {
  list-style-type: none;
}

aside {
  max-width: 36em;
  min-width: 18em;
  background-color: #eae8e4;
  border: 0.1rem dashed #000;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
  transform: rotate(-3deg);
  padding: 1em 0.5em;
  margin: 2em 1em;
  text-align: center;
}

.aside-address {
  transform: rotate(3deg);
}

.team-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 1em;
  max-width: 60em;
  min-width: 18em;
}

.team-member {
  background-color: #eae8e4;
  margin-top: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0.1em dashed #000;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
  transform: rotate(-3deg);
  width: 18em;
}
.team-member img {
  height: 20em;
  width: 100%;
}

.team-member:nth-child(odd) {
  transform: rotate(3deg);
}

.team-member:last-child {
  margin-bottom: 1em;
}

footer {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  background-color: #53504c;
  color: #fff;
}
footer p {
  padding-top: 1em;
  padding-bottom: 1em;
}
footer img {
  width: 5em;
}

.top-element {
  padding-top: 0;
  margin-top: -2.5em;
}

.m-t {
  margin-top: 1em;
}

.m-b {
  margin-bottom: 1em;
}

.gallery-container {
  position: relative;
  margin-bottom: 1em;
  background-color: #53504c;
  display: block;
  width: auto;
  height: auto;
}

.gallery-slides {
  display: none;
}

.gallery-image {
  object-fit: contain;
  display: block;
  max-width: 100%;
  min-height: 20.7em;
}

.prev, .next {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -3em;
  padding: 3em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0 0.05em 0.05em 0;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 0.05em 0 0 0.05em;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.gallery-number {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #fff;
}

.gallery-thumbnails {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: -1em;
}

.thumbnail-image {
  cursor: pointer;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  height: 3.5em;
}

.gallery-active, .thumbnail-image:hover {
  opacity: 1;
}

.form-container {
  width: 100vw;
  max-width: 25em;
}

.contact-form {
  border: 0.1em dashed #000;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
  background-color: #eae8e4;
  padding: 1em;
}

input[type=text], input[type=email], select, textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 1em;
  border: 1px solid #53504c;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  resize: vertical;
}

input[type=submit] {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background-color: #53504c;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffd647;
  color: #000;
}

.contact-details section {
  margin-bottom: 1em;
}

.main-image {
  height: 35vh;
  margin-top: 0;
  width: 100%;
  object-fit: cover;
}

.home-page {
  display: grid;
  justify-content: center;
}

.home-img-1, .home-img-2, .home-img-3, .home-img-4 {
  margin: 0 auto;
}

@media screen and (min-width: 81.5em) {
  .home-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-gap: 1em;
    justify-content: center;
    margin: 1em;
  }

  .home-s1 {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }

  .home-s2 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }

  .home-s3 {
    grid-column: 2/span 2;
    grid-row: 3/span 1;
  }

  .home-s4 {
    grid-column: 2/span 2;
    grid-row: 4/span 1;
  }

  .home-s5 {
    grid-column: 1/span 2;
    grid-row: 5/span 1;
  }

  .home-s6 {
    grid-column: 1/span 1;
    grid-row: 6/span 1;
  }

  .home-s7 {
    grid-column: 2/span 2;
  }

  .home-img-1 {
    grid-column: 3/span 1;
    grid-row: 1/span 2;
  }

  .home-img-2 {
    grid-column: 1/span 1;
    grid-row: 3/span 2;
  }

  .home-img-3 {
    grid-column: 3/span 1;
    grid-row: 5/span 2;
  }

  .home-img-4 {
    grid-column: 1/span 1;
    grid-row: 7/span 1;
  }

  .aside-address {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    margin-left: auto;
    margin-right: auto;
  }

  .aside-prices {
    grid-column: 1/span 2;
    grid-row: 6/span 1;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 84em) {
  .about-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
    justify-content: center;
    margin: 1em;
  }

  .about-s1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }

  .about-s2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }

  .about-gallery {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
  }
}
.about-page {
  display: grid;
}

.team-page {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 60em) {
  .events-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.events-page {
  display: grid;
  justify-content: center;
}

.contact-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  justify-content: center;
}