// Variables
$font-title: 'Coming Soon', cursive;
$font-header: 'Nunito', sans-serif;
$font-main: 'Open Sans', sans-serif;
$colour-yellow: #ffd647;
$colour-black: #53504c;
$colour-grey: #eae8e4;
$colour-greenblack: #002A00;

// Styles all elements with no padding and border box style sizing
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Sets font family for subheadings, links and labels
h2, h3, h4, a, label {
    font-family: $font-header;
}

// Sets font family and line height for paragraphs, addresses and list items
p, address, li {
    font-family: $font-main;
    line-height: 1.5;
    max-width: 42em;
}

// Header background styles
#header-bg {
    position: absolute;
    width: 120vw;
    height: 5rem;
    left: -1em;
    top: -1em;
    z-index: -1;
    background: #53504C;
    mix-blend-mode: normal;
    opacity: 0.5;
    filter: blur(10px);
    transition: ease 0.25s;
}

// Header title styles for mobile
// Positions the title below the navbar
#header-title {
    font-family: $font-title;
    position: absolute;
    left: 1rem;
    top: 8vh;
    // Animates the transition when scrolling page
    transition: ease 0.25s;
}

// Sets a faint background colour behind the header title on mobile.
#title-bg {
    display: initial;
    position: absolute;
    background-color: $colour-black;
    z-index: -1;
    opacity: 0.5;
    height: 4.5rem;
    width: 14.5rem;
    left: -0.5rem;
    filter: blur(10px);
    // Animates the transition when scrolling page
    transition: ease 0.25s;
}

// General header styles
header {
    // Header Layout
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;

    // Header Styles
    width: 100%;
    color: white;
    position: fixed;
    z-index: 1;

    // Header image styles
    img {
        position: relative;
        left: 0.25rem;
        width: 5rem;
        margin-right: 1.25rem;
    }

    // Header section styles
    section {
        display: flex;
        flex-direction: row;
    }

    // Header div styles for title and slogan
    div {
        // Title styles
        h1 {
            font-size: 2rem;
            color: #ffd647;
            margin: 0;
        }
        // Slogan stlyes
        p {
            font-size: 1rem;
            color: #fff;
            margin: 0;
            line-height: 1;
        }
    }
}

// Header styles for screen sizes greater than 35rem
@media screen and (min-width: 35rem) {
    header {
        // Header Layout
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
    
        // Header Styles
        width: 100%;
        color: white;
        position: fixed;
        z-index: 1;
        // Header image styles
        img {
            position: relative;
            left: 0.25rem;
            width: 8rem;
            margin-right: 2.5rem;
        }
        // Header section styles
        section {
            display: flex;
            flex-direction: row;
        }
    }
    // Header background styles
    #header-bg {
        position: absolute;
        width: 120vw;
        height: 6.5rem;
        left: -1em;
        top: -1em;
        z-index: -1;
        background: #53504C;
        mix-blend-mode: normal;
        opacity: 0.5;
        filter: blur(10px);
        transition: ease 0.5s;
    }

    // Displays header title on desktop
    #header-title {
        display: initial;
    }

    // Header title position style
    #header-title {
        position: initial;
    }
    
    // Header title background style - removes background on desktop
    #title-bg {
        display: none;
    }
}

// Contact button link styles
.contact-link {
    padding: 0.25rem 0.5rem;
    background-color: $colour-yellow;
    border: 0.1em solid #EABE27;
    color: #002A00;
    border-radius: 0.5em;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
    transition: ease 0.25s;
}

// Contact button link hover styles
.contact-link:hover {
    background-color: $colour-black;
    color: #fff;
}

// Navbar styles
.navbar {
    font-size: 1.125rem;
    padding-bottom: 0.625rem;
}

// Nav menu styles for mobile
.nav-menu {
    list-style-type: none;
    display: none;
    // Nav menu list items styles
    li {
        text-align: center;
        margin: 15px auto;
    }
}

// Nav link styles
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: ease 0.25s;
}

// Navbar hamburger toggle styles
.navbar-toggle {
    position: relative;
    cursor: pointer; 
    color: #fff;
    font-size: 1.75rem;
    margin-right: 0.5em;
    top: 0.25em;
}

// Navbar background styles
#nav-bg {
    position: absolute;
    width: 50vw;
    height: 11em;
    z-index: -1;
    background: #53504C;
    mix-blend-mode: normal;
    opacity: 0.5;
    filter: blur(10px);
    display: initial;
}

// Displays the navbar when assigned to nav menu
.active {
    display: block;
    position: fixed;
    top: 4.5em;
    right: 0;
    width: 50vw;
}

// Navbar stlyes for widths greater than 57rem
@media screen and (min-width: 57rem) {
    // Navbar styles
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    // Nav menu style
    .nav-menu {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    // Nav link styles
    .nav-link {
        margin-left: 40px;
    }
    // Hides navbar hamburger toggle
   .navbar-toggle {
       display: none;
    }
    // Nav link hover text colour change
    .nav-link:hover {
        color: $colour-yellow;
    }
    // Navbar background colour hide
    #nav-bg {
        display: none;
    } 
}

// Main styling
main {
    // h2 page header styles
    h2 {
        position: relative;
        bottom: 1.25em;
        color: #fff;
        background: $colour-black;
        border: 0.1rem dashed #fff;
        box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.25);
        border-radius: 0.5em;
        transform: rotate(-3deg);
        margin: auto;
        margin-bottom: 2rem;
        text-align: center;
        align-content: center;
        padding: 0.25rem 0;
        width: 7em;
        font-size: 1.5rem;
    }
    // h3 page header styles
    h3 {
        font-size: 1.25rem;
        color: #000;
        padding-bottom: 0.25em;
    }
    // Section styles
    section {
        max-width: 54em;
        min-width: 18em;
        margin: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
// Article styles
article {
    // Article image styles
    img {
        width: 100vw;
        max-width: 30em;
        height: 35vh;
        max-height: 20em;
        object-fit: cover;
        margin-bottom: 1em;
        margin-top: 1em;
    }
}

// Home page opening times styles
.opening-times {
    margin-top: 1em;
    position: relative;
    max-width: 30em;
    display: block;
    text-align: center;
    // Mirror opening times image
    img {
        transform: scale(-1, 1);
    }
    // Styles opening times text box
    > div {
        position: absolute;
        right: 0.5rem;
        top: 1.5rem;
        color: #fff;
        width: 16rem;
        background-color: rgba(83, 80, 76, 0.5);
        border-radius: 0.5rem;
        border: 0.1rem dashed #fff;
        padding: 0.5rem;
        // Header styles for opening times
        h3 {
            color: #fff;
            padding: 0;
        }
        // Removes list style from opening times 
        ul {
            list-style-type: none;
        }
    }
}

// General aside styles
aside {
    max-width: 36em;
    min-width: 18em;
    background-color: $colour-grey;
    border: 0.1rem dashed #000;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transform: rotate(-3deg);
    padding: 1em 0.5em;
    margin: 2em 1em;
    text-align: center;
}

// Rotate address aside
.aside-address {
    transform: rotate(3deg);
}

// Team members list container styles
.team-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 1em;
    max-width: 60em;
    min-width: 18em;
}

// Team member section styles
.team-member {
    background-color: $colour-grey;
    margin-top: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.1em dashed #000;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
    // Rotates by -3 degrees
    transform: rotate(-3deg);
    width: 18em;
    // Team member image styles
    img {
        height: 20em;
        width: 100%;
    }
}

// Rotates odd team members by 3 degress
.team-member:nth-child(odd) {
    transform: rotate(3deg);
}

// Last team member section bottom margin
.team-member:last-child {
    margin-bottom: 1em;
}

// General footer styles
footer {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background-color: $colour-black;
    color: #fff;
    // Footer paragraph styles
    p {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    // Footer image styles for width
    img {
        width: 5em;
    }
}

// Top page element styles
.top-element {
    padding-top: 0;
    margin-top: -2.5em;
}

// Margin top style
.m-t {
    margin-top: 1em;
}

// Margin bottom style
.m-b {
    margin-bottom: 1em;
}

// Gallery styles
// Gallery container
.gallery-container {
    position: relative;
    margin-bottom: 1em;
    background-color: $colour-black;
    display: block;
    width: auto;
    height: auto;
}
// Hides gallery slides initially
.gallery-slides {
    display: none;
}
// Styles visible gallery image
.gallery-image {
    object-fit: contain;
    display: block;
    max-width: 100%;
    min-height: 20.7em;
}
// Gallery previous and next button styles
.prev, .next {
    background-color: rgba(0,0,0,0.1);
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -3em;
    padding: 3em 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0 0.05em 0.05em 0;
    user-select: none;
}
// Next button styles position
.next {
    right: 0;
    border-radius: 0.05em 0 0 0.05em;
}
// Previous and next button hover styles 
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
}

// Gallery slide index number styles
.gallery-number {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: #fff;
}
// Gallery thumbnail layout style
.gallery-thumbnails {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: -1em;
}
// Gallery image styles
.thumbnail-image {
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    height: 3.5em;
}

// Gallery thumbnail hover and active styles
.gallery-active, .thumbnail-image:hover {
    // Increase opacity to 100%
    opacity: 1;
}

// Contact form container styles
.form-container {
    width: 100vw;
    max-width: 25em;
}

// Contact form styles
.contact-form {
    border: 0.1em dashed #000;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
    background-color: $colour-grey;
    padding: 1em;
}

// Style inputs with type="text", select elements and textareas
input[type=text], input[type=email], select, textarea {
    font-family: $font-main;
    width: 100%;
    padding: 1em;
    border: 1px solid $colour-black;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    resize: vertical
}

// Submit button styles
input[type=submit] {
    font-family: $font-header;
    font-size: 1rem;
    background-color: $colour-black;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

// Submit button hover style
input[type=submit]:hover {
    background-color: $colour-yellow;
    color: #000;
}

// Contact details section styles
.contact-details {
    section {
        // Bottom margin for all contained sections in contact details
        margin-bottom: 1em;
    }
}
// Banner image styles
.main-image {
    height: 35vh; 
    margin-top: 0;
    width: 100%;
    object-fit: cover;
}
// Home page layout
.home-page {
    display: grid;
    justify-content: center;
}

// Home page images styles
.home-img-1, .home-img-2, .home-img-3, .home-img-4 {
    margin: 0 auto;
}

// Home page desktop grid layout
@media screen and (min-width: 81.5em) {
    // Home page container
    .home-page {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, auto);
        grid-gap: 1em;
        justify-content: center;
        margin: 1em;
    }
    // Section 1
    .home-s1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    // Section 2
    .home-s2 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    // Section 3
    .home-s3 {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
    }
    // Section 4
    .home-s4 {
        grid-column: 2 / span 2;
        grid-row: 4 / span 1;
    }
    // Section 5
    .home-s5 {
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;
    }
    // Section 6
    .home-s6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    // Section 7
    .home-s7 {
        grid-column: 2 / span 2;
    }
    // Image 1
    .home-img-1 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }
    // Image 2
    .home-img-2 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
    }
    // Image 3
    .home-img-3 {
        grid-column: 3 / span 1;
        grid-row: 5 / span 2;
    }
    // Image 4
    .home-img-4 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }
    // Address aside
    .aside-address {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-left: auto;
        margin-right: auto;
    }
    // Prices aside
    .aside-prices {
        grid-column: 1 / span 2;
        grid-row: 6 / span 1;
        margin-left: auto;
        margin-right: auto;
    }
}

// About page desktop layout
@media screen and (min-width: 84em) {
    // About page container
    .about-page {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 1em;
        justify-content: center;
        margin: 1em;
    }
    // Section 1
    .about-s1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    // Section 2
    .about-s2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    // Gallery
    .about-gallery {
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
    }
}
// About page mobile layout
.about-page {
    display: grid;
}
// Team page mobile layout
.team-page {
    display: grid;
    justify-content: center;
}

// Events page desktop grid layout
@media screen and (min-width: 60em) {
    // Events page container
    .events-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
// Events page mobile layout
.events-page {
    display: grid;
    justify-content: center;
}
// Contact page layout
.contact-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    justify-content: center;
}